.auth-form {
  width: 30rem;
  max-width: 80%;
  margin: auto;
  font-family: 'Abel', sans-serif;
  color: #200e17;
  font-weight: 800;
  font-size: 1.25em;
}

.form-controls label,
.form-controls input {
  width: 100%;
  display: block;
}

.form-controls {
  margin-bottom: 1rem;
}

.form-controls label {
  margin-bottom: 0.5rem;
}

.form-controls input {
  height: 1.5rem;
  border-radius: 5px;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
}

.form-buttons button {
  background: #531a31;
  font: inherit;
  border: 1px solid #531a31;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  color: #fff;
  cursor: pointer;
}

.form-buttons button:hover,
.form-buttons button:active {
  background: #944a61;
  border-color: #944a61;
  color: #200e17;
}
