.events-form {
  width: 40rem;
  max-width: 80%;
  margin: 5rem auto;
}

.events-form-controls label,
.events-form-controls input,
.events-form-controls textarea {
  width: 100%;
  display: block;
}

.events-form-controls {
  margin-bottom: 1rem;
}

.events-form-controls label {
  margin-bottom: 0.5rem;
}

.events-controls {
  text-align: center;
  padding: 0.75rem;
  margin: 2rem auto;
  width: 25rem;
  max-width: 80%;
  font-family: 'Abel', sans-serif;
  color: #200e17;
  font-weight: 800;
  font-size: 1.25em;
  border: 1px solid #fff;
  border-radius: 10px;
  background:
    linear-gradient(
      rgba(251, 248, 248, 0.8),
      rgba(212, 211, 211, 0.4)
    );
}

.events-form-controls button,
.events-controls button {
  background: #531a31;
  font: inherit;
  border: 1px solid #531a31;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  color: #fff;
  cursor: pointer;
}

.events-form-controls button:hover,
.events-form-controls button:active,
.events-controls button:hover,
.event-controls button:active {
  background: #944a61;
  border-color: #944a61;
  color: #200e17;
}
