.event-item {
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Abel', sans-serif;
  color: #200e17;
  font-weight: 800;
  font-size: 1.25em;
  border-radius: 10px;
  background:
    linear-gradient(
      rgba(251, 248, 248, 0.8),
      rgba(212, 211, 211, 0.4)
    );
}

.event-item h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #531a31;
  font-weight: bolder;
}

.event-item h2 {
  margin: 0;
  font-size: 1rem;
  color: #6d0223;
}

.event-btn {
  background: #531a31;
  font: inherit;
  border: 1px solid #531a31;
  border-radius: 3px;
  padding: 0.25rem 1rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  color: #fff;
  cursor: pointer;
}

.event-btn:hover,
.event-btn:active {
  background: #944a61;
  border-color: #944a61;
  color: #200e17;
}

.event-item p {
  margin: 0;
}
