@import url('https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Dancing+Script|Economica|Pacifico|Satisfy');

.main-content {
  margin: 0 2.5rem;
  width: 80%;
}

.app-body {
  align-items: center;
  background:
    linear-gradient(
      rgba(43, 40, 40, 0.9),
      rgba(0, 0, 0, 0.5)
    ), url("./assets/mixer.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
}
