@import url('https://fonts.googleapis.com/css?family=Abel|Amatic+SC|Dancing+Script|Economica|Pacifico|Satisfy');
/* dark maroon #200e17 */
/* maroon #531a31 */
/* dark pink #944a61 */
/* light gold #dcbf79 */
/* dark gold #b78c26 */

/* font-family: 'Pacifico', cursive;
font-family: 'Abel', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Satisfy', cursive;
font-family: 'Economica', sans-serif; */

.main-content {
  margin: 0 2.5rem;
  width: 80%;
}

.app-body {
  align-items: center;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.50)
    ), url("./assets/mixer.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
}
