.nav-header {
  align-items: center;
  background:
    linear-gradient(
      rgba(251, 248, 248, 0.87),
      rgba(156, 155, 155, 0)
    );
  box-sizing: border-box;
  display: flex;
  height: 6rem;
  justify-content: space-between;
  left: 0;
  padding: 1.5rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.app-title h1{
  color: #200e17;
  font-family: 'Satisfy', cursive;
  font-size: 3rem;
  font-style: italic;
  margin: 0;
}

.main-nav {
  margin: 1.5rem;
}

.main-nav ul {
  align-items: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav li {
  margin: 0 1rem;
}

.main-nav a,
.main-nav button {
  background: transparent;
  border: none;
  border-radius: 5px;
  color: #200e17;
  cursor: pointer;
  font: inherit;
  font-family: 'Abel', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  vertical-align: middle;
}

.main-nav a:hover,
.main-nav button:hover {
  background: #944a61;
  border-color: #944a61;
  color: #200e17;
}

.main-nav a:active,
.main-nav a.active,
.main-nav button:active,
.main-nav button.active {
  background: #531a31;
  border-color: #531a31;
  color: #fff;
}
